<div class="page-header">

</div>

<!-- LOADING MESSAGE -->
<div class="jumbotron text-center" ng-show="products.processing">
  <span class="glyphicon glyphicon-repeat spinner"></span>
  <p>{{main.language.allhtml.preProducts.loading}}</p>
</div>

<!-- LOOP OVER THE PRODUCTS -->
<div ng-repeat="product in products.products track by $index">
  <div class="col-sm-6"  id="shop">
    <div class="productTitle">{{ product.title }}</div>
    <div class="blogodel">
          <img border="0" height="300" width="289" ng-src="/assets/img/{{ product.imgsrc }}.jpg"/>
    <div class="more">» {{main.language.allhtml.products.more}}</div>
    <div class="desc" ng-if="!main.rusDescription"><strong>{{ product.title }}</strong> {{ product.engdescription }}</div>
    <div class="desc" ng-if="main.rusDescription"><strong>{{ product.title }}</strong> {{ product.rusdescription }}</div>
    </div>
      <div>
          <button type="submit" class="btn btn-danger" ng-click="products.addToCart(product.title,product.imgsrc,product.price); main.openCart(); main.cartIsActive = true;">{{main.language.allhtml.products.buyBtn}}</button>
            <span ng-if="!product.processing">{{ product.price }}</span>
            <span ng-if="product.processing" class="spinner">
            <span class="glyphicon glyphicon-repeat"></span>
            </span>
          </button>
      </div>
  </div>
</div>
