<h1>{{main.language.abouthtml.title}}</h1>
<br>
<div class="jumbotron text-center">
  <h2>{{main.language.abouthtml.team}}</h2>
  <div class="">
    <h3>{{main.language.abouthtml.aboutus}}</h3>
  </div>

    {{main.language.abouthtml.contactstitle}}
    <ul>
      <li><a href="{{main.language.abouthtml.vks}}"></a></li>
      <li><a href="{{main.language.abouthtml.vkd}}"></a></li>
      <li><a href="{{main.language.abouthtml.vkn}}"></a></li>
    </ul>

</div>
<footer class="text-center">
  CodeRed for LIKEIT2016
</footer>
