<div class="jumbotron text-center">
  <h1>{{main.language.homehtml.title}}</h1>

  <div ng-if="!main.loggedIn">
		<p>{{main.language.homehtml.preLoginBtn}}</p>
		<a href="/login" class="btn btn-primary">{{main.language.homehtml.loginBtn}}</a>
	</div>

  <div ng-if="!main.loggedIn">
		<p>{{main.language.homehtml.preRegisterBtn}}</p>
		<a href="/register" class="btn btn-primary">{{main.language.homehtml.registerBtn}}</a>
	</div>

	<div ng-if="main.loggedIn">
		<p>{{main.language.homehtml.preIfLoggedInBtn}}</p>
		<a href="/products" class="btn btn-primary">{{main.language.homehtml.ifLoggedInBtn}}</a>
	</div>
</div>
